* {
    padding: 0;
    margin: 0;
    
}

section {
    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 10px;
    padding: 100px;
  
  
  img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  h5,
  h4 {
    margin-left: 30px;
  }
  
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 24px;
    color: gray;
  }
}
  
  @media (max-width: 1080px) {
    section {
      padding: 40px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    section {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    h4,
    h5 {
      display: none;
    }
  }