*{
  margin: 0;
  padding: 0;
}
  .seccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .galeria {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      margin-bottom: 600px;
      }
      .primera {
        grid-column: span 2;
        position: relative;
      }
      .agrupar {
        grid-column: span 5;
        position: relative;
        .textos {
          position: absolute;
          transform: translateY(-100%);
          font-size: 30px;
          padding: 20px;
        }
  
        .textosuno {
          color: white;
        }
  
        .textosdos {
          color: black;
          background-color: white;
          width: 100%;
        }
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
  
    .contenido {
      display: grid;
      padding-right: 100px;
  
      .botones {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
  
        .medio {
          background-color: transparent;
          border-radius: 100px;
          height: fit-content;
          font-size: 24px;
          padding: 12px;
        }
  
        .direcciones {
          background-color: transparent;
          border: none;
        }
  
        .prev {
          color: gray;
        }
  
        .next {
          color: orange;
        }
      }
  
      .textos {
        font-size: 48px;
        text-align: right;
        h6 {
          color: #DF9918;
          margin-bottom: 10px;
        }
      }
    }
  }
  
  @media (max-width: 900px) {
    .seccion {
      grid-template-columns:(2, 2fr, 1fr); 
    }
  }   
  
      .contenido {
        display: none;
      }
  
      .galeria {
        .primera {
          display: none;
        }
        h6, h5 {
          display: none;
        }
      }





  .duo {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
     } 
       
     
     .Luxury {
        margin-left: 30px;
        font-size: 25px;
        color: rgba(255, 136, 0, 0.82);
        
      }

     .Developments {
      margin-left: 30px;
      font-size: 50px;
      color: black;
      }
    

    @media (max-width: 1000px) {
      .duo{
        grid-template-columns: 1fr;
      }

      .Luxury {
        margin-left: none;
        justify-self: baseline;
      }

      .Developments {
        margin-left: none;
        justify-self: baseline;
      }
    }


      section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2px;
        padding: 2px 100px;
        gap: 60px 20px;

        .tress{
          display: none;
        }
      }
      
       img {
         max-width: 100%;
         margin-bottom: 40px;
        }
      
      .abajo {
        margin-left: 30px;
        font-size: 25px;
        color: black;
      }
      .arriba {
        margin-left: 30px;
        font-size: 20px;
        color: rgba(128, 128, 128, 0.199);
        
      }
    
      
    @media (max-width: 1000px) {
      section {
        padding: 40px;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    @media (max-width: 900px) {
      section {
        grid-template-columns: repeat(2, 1fr);
      }
    }
      @media (max-width: 600px) {
        section {
          grid-template-columns: 1fr;
          
          .tress{
            width: 428px;
            height: 428px;
            display: inline;
            gap: 10px;
            max-width: 100%;
            margin-bottom: 10px;

          }
        }


          img {
            display: none;
          }
        
      
        .arriba {
          display: none;
        }

        .abajo {
          display: none;
        }
     
     }
      
      
  
  footer {
    width: 100%;
    background-color: black;
    margin-top: 10px;
  
    .negro {
      color: white;
      display: grid;
      width: 90%;
      margin: auto;
      gap: 20px;
  
      .enlaces {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        font-size: 24px;
  
        .primera {
          align-self: self-end;
        }
  
        .segunda {
          align-self: center;
        }
  
        .tercera {
          align-self: self-end;
  
          #separado {
            margin-top: 20px;
          }
        }
  
        .media {
          justify-self: center;
        }
  
        .final {
          text-align: right;
          align-self: self-end;
        }
  
        ul {
          li {
            list-style: none;
          }
        }
      }
  
      .copy {
        border-top: solid 2px white;
        p {
          margin: 20px 0;
          text-align: center;
        }
      }
    }
  
    .gris {
      background-color: #26282b;
      width: 90%;
      margin: auto;
      transform: translateY(-50%);
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
      align-items: center;
    

      #textFooter {
        color: #FFFFFF;
          font-size: 60px;
          width: 500px;
          line-height: 65px;
          justify-self: center;

        span {
          color: #df991b;
          font-size: 40px;
          width: 400px;
          line-height: 45px;
        }
      }


  
      .segunda {
        display: grid;
        padding: 100px;
        gap: 10px;
  
        input {
          background-color: transparent;
          border: solid 1px gray;
          border-radius: 100px;
          padding: 20px 30px;
          font-size: 20px;
          left: 968px;
          top: 3017px;
        }
        
        button {
          background-color: transparent;
          border: solid 1px #df991b;
          color: #df991b;
          border-radius: 100px;
          padding: 20px 30px;
          font-size: 30px;
          width: 300px;
          justify-self: end;
        }
  
        p {
          margin-left: 20px;
          color: white;
          font-size: 20px;
          line-height: 45px;
      }
    }
 }
}


@media (max-width: 1000px) {
  footer {
    
    .copy{
      display: none;
    }
    .gris {
      display: none;
    }
      .negro{
        width: 459px;
        height: 531px;

        .enlaces{
          grid-template-columns: repeat(2, 1fr);
          .media{
            margin-top: 15px;
            justify-self: baseline;
            font-size: 18px;
            font-weight: lighter;
            color: #ddd;
          }
          .primera{
            grid-column: span 2;
          }
          .final{
            text-align: left;
            justify-self: baseline;
            grid-column: span 2;
            margin-top: 40px;

            #call {
              display: none;
           }
           #numero{
            font-size: 40px;
            color: white;
           }
          }
       }
     }
   }
  }

 